
body {margin-top: 80px;
      background-color: lightgrey;
      border: 25px solid purple;
      padding: 25px;
      margin: 25px;
      text-align: center;
      }

.product-info{
    display: flex;   
    flex-wrap: wrap;
    font-size: 15px;
    line-height: 30px;
    padding: 0px 0px 15px 25px;
    background-color: beige;
    display: block;
        }

.rating {color: black;
        background-color: beige;} 

img.resize {
  width: auto;
  height: auto;
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
    }

.float {float: left;
        width: -75px; 
        background-repeat: no-repeat;
        margin: 
        height:20px;
        }

.clearfix:after {
    content: "";
    clear: both;
    display: block;
}

.wrapper {display: table;
            content: "";
            box-sizing: border-box;}

h1 {font-size: 05vw;
    text-align: center;
    }

.line-through {text-decoration: line-through;
              text-decoration-color: red;}

swatches li 

h1 {font-size: 05vw;
    text-align: center;
    }

.swatches  {
    border-radius: 50%;
  


 

  

    

