

body {margin-top: 80px;
      background-color: lightgrey;
      width: px;
      border: 25px solid purple;
      padding: 25px;
      margin: 25px;
      }


.product-info{
    display: -webkit-flex; /* Safari */
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    display: flex;   
    flex-wrap: wrap;
    font-size: 12px;
    line-height: 30px;
    padding: 0px 0px 15px 25px;
    background-color: beige;
    display: block;
        }

.rating {color: black;
        background-color: beige;} 


.clearfix: :after {
  content: "";
  clear: both;
  display: table;  
}

.container {
            display: table;
            content: "";
            box-sizing: border-box;}

h1 {font-size: 05vw;
    text-align: center;
    }


h6 {
}

p { 

swatches li {border-radius: 50%}

    

