
body {
      margin-top: 20px;
      background-color: lightgrey;
      border: 2px solid purple;
      padding: 25px;
      margin: 25px;
      text-align: center;
      font-family: "Archivo Narrow", monospace;
      width: auto;
      height: 100px;
      margin-top: 20px;
      display: block;}

.product-info{
      display: flex;   
      flex-wrap: wrap;
      font-size: 20px;
      line-height: 30px;
      background-color: beige;
      display: block;
      padding: 20px;}
    

.rating {color: black;
        background-color: beige;} 

img.resize {object-fit: contain;
            width: 75px;
            height: 50px;
            box-sizing: content-box;
            margin-top: 50px;}

.float {float: left;
        width: auto;
        background-repeat: no-repeat;
        margin-bottom: auto;
        margin-top: auto
        height: 20px;}

.clearfix:after {
      content: "";
      clear: both;
      display: block;}

.wrapper {display: table;
            content: "";
            box-sizing: border-box;}

h1 {font-size: 05vw;
    text-align: center;
    border-style: dotted;
    border-width: 3px;}

.line-through {text-decoration: line-through;
              text-decoration-color: red;}

swatches li 

h1 {font-size: 05vw;
    text-align: center;}



.bg-black {border-radius: 50%;
          background-color: black;}
  
  
  


 

  

    

